* {
  padding: 0;
  margin: 0;
}
.App {
  /* background-image: url("./img/pika.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  /* width: 100vw;
  height: 100vh;
  position: relative; */
}

img {
  width: 400px;
}
.mainDiv {
  background-image: url("./img/poke2.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.imgdiv {
  position: absolute;
  top: 17%;
  left: 12%;
}
.secondDiv {
  position: absolute;
  top: 28%;
  right: 20%;
  height: 250px;
  width: 250px;
  /* border: 1px solid black; */
}
.optionDiv {
  margin: 10px 0;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  color: black;
  background: yellow;
  cursor: pointer;
  border-radius: 5px;
}
.optionDiv * {
  margin-top: 4%;
}
.match {
  width: 200px;
  height: 50px;
  background-color: green;
  border-radius: 10px;
  color: aliceblue;
}
.match h1 {
  margin: 0;
  text-align: center;
}
.wrong {
  width: 200px;
  height: 70px;
  background-color: red;;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 0;
}
.wrong * {
  margin: 0;
  padding: 0;
}
.next {
  width: 200px;
  height: 30px;
  background-color: yellow;
  border-radius: 5px;
  color: black;
  text-align: center;
  margin: 10px 0;
  cursor: pointer;
}
.next h3 {
  margin: 4px;
}
.thirdDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 20%;
  right: 20%;
  height: 250px;
}
.fourthDiv {
  position: absolute;
  bottom: 5%;
  right: 10%;
}
.fourthDiv *{
  color: yellow;
  text-shadow: 5px;
}
.title {
  font-size: 30px;
  position: absolute;
  bottom: 5%;
  left: 8%;
}
.pokeballImg {
  width: 50px;
  height: 50px;
}
.gameoverScreen {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  height: 70vh;
  /* border: 1px solid #000; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gameoverScreen img {
  width: 50%;
  height: auto;
  border: 5px solid #000;
}
.gameoverScreen button {
  width: 30%;
  height: 50px;
  font-size: xx-large;
  background: yellow;
  border-radius: 5px;
}
@media only screen and (max-width: 768px) {
  .mainDiv {
    background-size:cover;
    width: 100vw;
    height: 100vh;
    background-position: 10%;
  }
  .secondDiv{
    position: absolute;
    top: 75%;
    left: 5%;
    width: 90%;
    height: 20%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
  }
  .optionDiv{
    width: 100%;
    border: 2px solid black;
    /* background-color: red; */
    margin: 10px 0;
    /* width: 250px;
    height: 40px; */
    background: yellow;
    cursor: pointer;
    border-radius: 5px;
    z-index: 99;

  }
  .thirdDiv{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 1px solid rgb(233, 221, 221); */
    width: 50%;
    height: 20vh;
  }
  .thirdDiv > *{
    width: 100%;
  }
  .fourthDiv {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 10px;
  }
  .fourthDiv > div >img{
    width: 25px;
    height: 25px;
  }
  .gameoverScreen{
    flex-direction: column;
    justify-content: space-around;
  }
  .gameoverScreen > img{
    width: 100%;
  }
  .gameoverScreen button{
    width: 50%;
  }
}